<nav class="navbar navbar-expand-sm bg-white navbar-white">
  <a class="navbar-brand" href="#">
    <img src="assets/images/logo.png" alt="logo" style="padding-left: 100px;padding-top: 10px;" >
  </a>
  <div class="container" style="padding-right: 100px;">
  <p class="text-right"></p>
  
    <nav class="shift" >
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </nav>
   
  </div>
</nav>
<div id="demo" class="carousel slide" data-ride="carousel" style="padding-left: 100px;padding-right: 100px;">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    
    
    <div class="carousel-item active">
      <img src="assets/images/banner-image.png" alt="Los Angeles" width="1100" height="300">
    </div>
    <div class="carousel-item">
      <img src="assets/images/banner-image4.png" alt="Chicago" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="assets/images/banner-image10.png" alt="New York" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="assets/images/banner-image9.png" alt="New York" width="1100" height="500">
    </div>
    
    
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
